#rawcontainer{
  float: left;
  height:max-content;
  width: 100%;
  background-color:transparent;
  padding: 20px;
  overflow: hidden;
}
#gcontent{
  color: white;
  width: 65%;
  height: 100%;
  float: left;
  margin-left: 20px;
  padding: 10px;
}
#rawimg{
  float: left;
  height: 15%;
  width: 30%;
  border-radius: 10px;
}
#rawhori{
  color: rgba(138, 138, 138);
  width: 100%;
  float: left;
  margin-top: 20px;
  opacity: .2;
}
#rawlebal{
  color: rgb(104, 104, 104);
  font-size: 12px;
}
#readmore{
  float: left;
  text-decoration: underline;
}
#gd{
  width: 100%;
  font-size: 16px;
}