#vertab{
  float: left;
  position: fixed;
  width: 250px;
  height: 900px;
  background-color:  rgb(28, 29, 29);
  margin-right: 0px;
  padding: 25px;
}
#Anc{
  background-color:transparent;
  width: 100%;
  height:80px;
  margin-top: 10px;
}
#Appname{
  font-size: 16px;
  float: left;
  margin: 0px;
  color: white;
  margin-top: 10px;
  margin-left: 10px;
}
#appicon{
  float: left;
  width: 50px;
  height: 50px;
}
#otc{
  width: 100%;
  float: left;
  height: max-content;
  background-color:transparent;
}
.tabnames{
  float: left;
  color: rgb(104, 104, 104);
  opacity: .8;
  text-decoration: bold;
  width: 100%;
  background-color:transparent;
  margin-top: 30px;
}
.tabnames:hover{
  color: white;
  opacity: 1;
}
.icn{
  margin: 0px;
  float: left;
  width: max-content;
  margin-left: 25px;
  margin-top: 5px;
}
.vericon{
  float: left;
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
#dwnt{
  position:absolute;
  height:max-content;
  width: 81%;
  background-color:transparent;
  bottom: 30px;
  margin-bottom: 70px;
}
 /* --------------------------    Downloadtab  -----------------------------*/
 #Downloadtab{
   position: fixed;
  float: left;
  width: 85.2%;
  height:max-content;
  margin-left: 250px;
  padding-top: 40px;
  padding-left: 0px;
  padding-right: 20px;
  z-index: 10;
}
#Dleft{
  float: left;
  width: 40%;
  height:max-content;
  background-color: rgb(34, 34, 34);
}
#utab{
  float: left;
  width: 100%;
  height:max-content;
  padding: 20px;
}
#dbtn{
  float: left;
   height:max-content;
   width:max-content;
}
#dtext{
  color: rgba(102, 102, 102, 0.959);
  font-size: 18px;
  float: left;
  margin: 0px;
  margin-left: 20px;
}
#dhr{
  border-width: 1px;
  margin-top: 10px;
}
#dtab2{
  color: rgba(102, 102, 102, 0.959);
  font-size: 18px;
  text-align: center;
  float: left;
  width: 100%;
  height: 725px;
}
#dright{
  float: left;
  width:60%;
  height: 800px;
  background-color:rgba(0, 0, 0, 0.377);
  
}
